<h1> Welcome to Angular !! </h1>
<hr>


<!--      // Routing In Angular
<div>
  <a routerLink="login">Login Here</a><br>
  <a routerLink="itemlist">ItemList</a><br>
  <a routerLink="fulltask">Task</a><br>
  <a routerLink="service-exp">Service Add Details</a><br>
  <a routerLink="service-exp1">Service Display Details</a><br>
  <button (click)="goLogin()" >Login</button>
</div>
<div>
  <router-outlet></router-outlet>
</div>
-->

<!--

<div>
   <app-service-exp></app-service-exp>
    <app-service-exp1></app-service-exp1>
    <app-forms></app-forms>
    <app-fulltask></app-fulltask>
    <app-itemlist></app-itemlist>
    
    <app-login></app-login>
    <app-task></app-task>
    <app-signup></app-signup>
    <app-product></app-product>
  </div>

  -->


<div>
  <app-angular-codility></app-angular-codility>
</div>
